<!DOCTYPE html PUBLIC>
<html lang="en" style="visibility: hidden;">

<head> 
  <title>ZeroChess</title>
  
  <meta charset="utf-8">
  <meta name="description" content="zerochess on electron">
  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="app/css/tabstyles.css">
  <link rel="stylesheet" href="app/css/chess.css">
  
  <!-- link rel="stylesheet" href="libs/theme/ambiance.css" -->

</head>

<body>
    
	<!-- login -->
	<!-- div style="position: absolute; top: 100px; right: 100px; z-index: 100;"><a href="#Select+user" id="select_user" onclick="return Page.selectUser()">Select user</a></div -->
	
	<!-- top nav -->
	<div class="nav">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
				
					<!-- chat -->
					<!-- a href="#Select+user" id="select_user" onclick='return Page.selectUser()'>Select user</a>
					<div id="chat" style="position: absolute; left: 278px; top: 4px; z-index: 50; width: 280px;">
					  <input id="message" value="" type="text" class="submit" size="17"  onkeypress="if (event.keyCode == 13) Page.sendMessage()" -->
					  <!-- id="shell" -->
					  <!-- button id="send" type="submit" onclick="return Page.sendMessage()">SEND</button -->
					<!--/div-->
					
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					
					
					<!-- home -->
					<div class="nav-collapse collapse">
						<ul class="nav" style="margin: 0 0 0 103px;">
							
							<!-- this.target = window.parent; this.window.parent.style.opacity='0.1'; -->
							
							<!-- li class="active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="this.style.opacity='0.4';">
									<span class="icon icon-home"></span>Home</a>
								
								<ul class="dropdown-menu">
									<p><font color="#E0D0C0" size="4"><b><i>&nbsp;to do..</i></b></font><br>
									 <br><font color="#F01010" size="4">/edit /save  etc</font><br><br>
									 <span class="label"><font color="#F0E000" size="4">user account admin </font></span><br><br>
									 <span class="label"><font color="#00DD00" size="4">window.parent.style </font></span><br><br>
									</p>
								</ul>
							</li -->
							
							<!-- load games (ajax) -->
							<li class="dropdown" style="opacity: 1; margin-left: 90px; width: 75px; top: -12px;">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="btn">LOAD</span></a>
								<ul class="dropdown-menu" style="padding: 0 0 0 7px; width: 300px;">
									<br>
									<li><textarea id="dbLink0" style="width: 97%; text-align: center;">./app/data/chess.db</textarea></li>
									<li><textarea id="dbLink1" style="width: 97%; text-align: center;">./app/data/archive.db</textarea></li>
									<li class="divider"></li>
									<!-- li><textarea id="dbLink2" style="width: 97%; text-align: center;">./app/games/bundesliga2000.pgn</textarea></li -->
									<!-- li><textarea id="dbLink3" style="width: 97%; text-align: center;">./app/games/ChessStrategyMBM.pgn</textarea></li -->
									<!-- li><textarea id="dbLink4" style="width: 97%; text-align: center;">./app/games/MacKenzie.pgn</textarea></li -->
									<li><textarea id="dbLink5" style="width: 97%; text-align: center;">./app/games/MacKenzie2.pgn</textarea></li>
									<li><textarea id="dbLink6" style="width: 97%; text-align: center;">./app/games/pgns.pgn</textarea></li>
									<img src="./app/icons/new_icon.jpg" style="position: relative; top: -30px; left: 15px;">
								</ul>
							</li>
							
							<!-- title / about -->
							<name id="title" style="position: absolute; top 16px; left: -111px;"> 
							  <li class="dropdown">
								<span class="dropdown-toggle" data-toggle="dropdown">
									<!-- spacer -->
									<div style="margin: 10px; z-index: 41;">
										<a href="#">ZeroChess</a>
									</div>
									<!-- version -->
									<span id="version" class="logo">v0.02</span>
								</span>
								
								<ul class="dropdown-menu">
									
									<!-- status -->
									<li class="menu1">{done}</li>
									<li class="menu2">Single Player</font></li>
									<li class="menu2">Load Games</font></li>
									<br>
									<li class="menu1">{to do}</li>
									<li class="menu2">Chat</font></li>
									<li class="menu2">Save Games</font></li>
									<li class="menu2">Two Player</font></li>
									<li class="menu2">Share Games</font></li>
									
									<!-- spacer -->
									<li class="divider"></li>
									
									<li class="nav-header"><u>Credits</u></li>
									<li><a href="http://chessboardjs.com">chessboard.js</a></li>
									<li><a href="https://github.com/jhlywa/chess.js">Jhlywa Chess</a></li>
									<li><a href="https://github.com/glinscott/Garbochess-JS">Garbo Chess</a></li>
									
									<!-- spacer -->
									<li class="divider"></li>
									
									<!-- contact -->
									<li class="nav-header"><u>github @ kustomzone.com</u></li>
									
								</ul>
							  </li>
							</name>
							
							<!------------------------- spacer -------------------------->
							<!-- li><a href="#" style="width: 0px; cursor: arrow;"></a></li -->
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /top nav -->
	
	
	<!-- container -->
	<div class="bind">
		<div class="st-container">
			<div class="st-pusher">
				<div class="st-content">
					<div class="container">
						<div class="tabs tabs-style-topline" style="background-color: #F2F1E0 !important;">
							<nav id="tabs">
								<ul>
									<li class="tabs-top"><a href="#section-topline-1" class="icon icon-joy">    <span> Play </span></a></li>
									<li class="tabs-top"><a href="#section-topline-2" class="icon icon-box">    <span> Open </span></a></li>
									<li class="tabs-top"><a href="#section-topline-3" class="icon icon-tools">  <span> Edit </span></a></li>
									<li class="tabs-top"><a href="#section-topline-4" class="icon icon-date">   <span> Games </span></a></li>
									<li class="tabs-top"><a href="#section-topline-5" class="icon icon-upload"> <span> Save </span></a></li>
									<li class="tabs-top"><a href="#section-topline-6" class="icon icon-config"> <span>Config</span></a></li>
									<li class="tabs-top"><a href="#section-topline-7" class="icon icon-display"><span> Demo </span></a></li>
									
								</ul>
							</nav>
							
							<div class="content-wrap" style = "background-color: #F1F0E0 !important;">
								
								<!-- section 1 --><!-- open -->
								<section id="section-topline-1">
								
									<ul class="tables nav nav-tabs"> </ul>
									
									<table>
									 <tr>
									  <td>
									   <br><p>Chat</p>
									   <div id="messages" style="width: 270px"></div>
									  </td>
									  <td>
									   <div id="options">
										&nbsp; <button id="newgame" onclick="UINewGame()">New Game</button>&nbsp;&nbsp;&nbsp;
										
									    <select onchange="javascript:UIChangeStartPlayer()">
									        <option value="white">White</option>
									        <option value="black">Black</option>
									    </select>
										
										&nbsp;&nbsp; Time per turn: <input id="TimePerMove" value="6000" onchange="UIChangeTimePerMove()" style="padding-left: 5px;"> ms &nbsp;
										
									    &nbsp;&nbsp;<button id="undo" onclick="UIUndoMove()">UNDO</button>
										
										&nbsp;&nbsp;<button id="redo" onclick="UIRedoMove()">REDO</button>
										
									   </div>
									
									   <!-- game board -->
									   <div id="game">
										<div id='board1'></div>
										<br>
										<span id='output'></span>
									   </div>
									   <!-- /game board -->
									  </td>
									 </tr>
									</table>
								</section>
								
								<!-- section 2 --><!-- view -->
								<section id="section-topline-2">
									
									<ul class="tables nav nav-tabs"> </ul>
									
									<!-- todo -->
									<br>
									<h4 id="title" style="opacity: 0.5;">&nbsp;&nbsp;&nbsp;&nbsp;Load Games</h4>
									<!-- browse file -->
									<div id="loading">
										<span id="zone1"> <fieldset>
											<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" style="margin: 14px 0 0 0; width: 200px;">
										</fieldset> </span>
									</div>
									
									<!-- drag n drop -->
									<div id="loader">
										<span id="zone"> <fieldset>
											<div id="filedrag" style="margin: 5px 0 0 25px;"><a class="btn btn-primary btn-large">Drag DB here</a></div>
										</fieldset> </span>
									</div>
									
									<!-- loaded -->
									<div id="loaded" style="visibility: hidden"><div id="fileStatus" class="alert alert-success hidden"></div></div>
									
								</section>
								
								<!-- section 3 --><!-- edit -->
								<section id="section-topline-3">
									
									<ul class="tables nav nav-tabs"> </ul>
									
									
									<!-- game board -->
									<div id="game2">
										<div class="form-group">
											<label for="gameEdit" class="control-label">Edit game:</label>
										</div>
										<!-- todo -->
										<p><span style="font-size: 1em;"><br> nothin' to do yet</span></p>
										<div class="container" style="padding-left: 200px; width: 80%;">
											<div id="board2" style="padding-left: 100px;"></div>
									</div>
									<!-- /game board -->
									
								</section>
								
								<!-- section 4 --><!-- log -->
								<section id="section-topline-4">
									
									<ul class="tables nav nav-tabs"></ul>
									
									<div id="gamesList">
										<form class="form-horizontal" role="form">
											<div class="form-group">
												<label for="gameSelect" class="control-label">Select game:</label>
												<select id="gameSelect" class="form-control input-sm" style="width: 600px;" onchange="loadGame(this.value);return false;"></select>
											</div>
										</form>
									</div>
									
									<div class="container" style="padding-left: 200px; width: 80%;">
										
										<div id="board3" style="padding-left: 100px;"></div>
										
										<div id="board-buttons" style="padding-left: 240px;">
											<button type="button" class="btn" id="btnStart">&lt;&lt;</button>
											<button type="button" class="btn" id="btnPrevious">&lt;</button>
											<button type="button" class="btn" id="btnNext">&gt;</button>
											<button type="button" class="btn" id="btnEnd">&gt;&gt;</button>
										</div>
										
										<div id="game" class="tab-pane fade in active">
											<div id="game-data"></div>
										</div>
									</div>
									
									<!-- h4>Keyboard Shortcuts</h4>
									<dl class="dl-horizontal">
										<dt>Next move:</dt><dd>Right arrow key</dd>
										<dt>Previous move:</dt><dd>Left arrow key</dd>
										<dt>End of game:</dt><dd>Ctrl + right arrow key</dd>
										<dt>Start of game:</dt><dd>Ctrl + left arrow key</dd>
										<dt>Next game:</dt><dd>Up arrow key</dd>
										<dt>Previous game:</dt><dd>Down arrow key</dd>
										<dt>First game:</dt><dd>Ctrl + up  arrow key</dd>
										<dt>Last game:</dt><dd>Ctrl + down arrow key</dd>
									</dl -->
									
								</section>
								
								<!-- section 5 --><!-- save -->
								<section id="section-topline-5">
									
									<ul class="tables nav nav-tabs"></ul>
									
									<!-- todo -->
									<br>
									<p><span style="font-size: 3em;"><br> nothin' to see yet</span></p>
									
								</section>
								
								<!-- section 6 --><!-- config -->
								<section id="section-topline-6">
									
									<ul class="tables nav nav-tabs"></ul>
									
									
									<!-- todo -->
									<br>
									<p><span style="font-size: 3em;"><br> nothin' to see yet</span></p>
									
								</section>
								
								<!-- section 7 --><!-- demo -->
								<section id="section-topline-7">
									
								  <!-- notes app -->
								  <div id="app" v-cloak>
									
									<!-- data usage -->
									<div id="data_usage" v-show="cert_user_id && dataSizeMax && dataSize" title="space remaining"> Using: {{ dataUsage || '' }}</div>
									  
									<!-- dev warning -->
									<div id="dev_warning" v-show="!readNote">
										<b>Select user</b>, make changes, click <b>Save</b> to publish.
										<span id="close_dev_warning" @click="readNote=true">X</span>
									</div>
										
									<span id="user_status">
										<a href="#Select+user" id="select_user" @click="selectUser" title="{{ cert_user_id || '' }}">{{ cert_user_id ? 'logout' : 'select user'}}</a>
									</span>
									 
									<!-- middle -->
									<div id="middle">
									
									  <!-- left -->
									  <div id="left">
									    <div id="button-bar">
										 <div class="button-bar-button"
											 @click="addNewTodo"
											 title="Add new item"> + </div>
										 <div class="button-bar-button green"
											 :class="{'pulsate': saving}"
											 @click="saveUserData"
											 v-show="cert_user_id && needsSaving"
											 transition="appear"
											 title="Save and publish changes">{{ saving ? 'Saving' : 'Save' }}</div>
										</div>
										<div class="lists">
									     <ul>
										 <li v-for="todo in todos"
										  class="pointer"
										  transition="expand"
										  @click="todoClicked($index)"
										  @dblclick="editTodo(todo, $index)"
										  draggable="true"
										  :class="todoClasses($index)"
										  @dragstart="dragStart($event, $index, todo)"
										  @dragover.prevent="dragover = $index"
										  @drop.prevent="dropped(todo, $index)"
										  @dragend="endDrag">
										 <span v-show="editingTodo !== $index">
										  {{ todo.title }}
										  <span class="task-count">{{ taskCount(todo) || '' }}</span>
										 </span>
										 <span v-else>
										  <input class="edit-todo-input"
											 type="text"
											 v-model="editedTodo"
											 @keyup.enter="editTodoDone(todo)"
											 @keyup.esc="cancelEditingTodo(todo)"
											 v-task-focus="editingTodo === $index" />
										 </span>
										 </li>
									     </ul>
									    </div>
									    <div class="spacer-v"></div>
									  </div>
									  <!--/left-->
									
									  <!-- right -->
									  <div id="right">
									    <ul>
										<li style="display: flex;">
											<input id="new-task-input" type="text" v-model="newTask" placeholder="Enter a new task here" @keyup.enter="addTask"/>
										</li>
										<li v-for="task in todos[selected_todo].tasks"
										  @dblclick="editTask(task, $index)"
										  transition="expand"
										  draggable="true"
										  :class="taskClasses($index)"
										  @dragstart="dragStart($event, $index, task)"
										  @dragover.prevent="dragover = $index"
										  @drop.prevent="dropped(task, $index)"
										  @dragend="endDrag">
										  <div v-show="editingTask !== $index">
											<input type="checkbox" v-model="task.checked" />
											<span v-bind:class="{'task-done': task.checked}">{{ task.text }}</span>
											<span class="delete-x" @click="deleteTask(task)">X</span>
										  </div>
										  <div v-else class="flex-edit">
											<input type="text"
												 v-model="editedTask"
												 @keyup.enter="editTaskDone(task)"
												 @keyup.esc="cancelEditingTask(task)"
												 v-task-focus="editingTask === $index" />
											<button @click="cancelEditingTask(task)" style="margin-top: 6px">Cancel</button>
										  </div>
										</li>
										</ul>
										<div style="padding: 5px">
											<button class="black" @click="shareList(selected_todo)" style="opacity: 0.45">Share List</button>&nbsp;
											<button class="black" @click="deleteTodo(selected_todo)">Delete list</button>&nbsp;
											<!-- button class="black" @click="clearCompleted">Clear completed</button -->
										</div>
									  </div>
									  <!--/right-->
									  
									</div>
									<!--/middle-->
								  
								  </div>
								  <!-- /notes app -->
								
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<span id="useid"></span>
	<tt><span id="users"></span></tt>
	
	<!-- game-stats -->
	<div id="game-stats">
		<textarea id="moves" cols="50" rows="6"></textarea>
	</div>

	<div id="stats">
		<a id='AnalysisToggleLink' href="javascript:UIAnalyzeToggle()">Analysis: Off</a>
		FEN: <input id="more-options" onchange="javascript:UIChangeFEN()">
	</div>
	<!-- /game-stats -->
  
	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
	<script src="app/js/jquery.min.js"> </script>
	<script src="app/js/jquery-ui.custom.min.js"> </script>
	<script src="app/js/buzz.min.js">   </script>
	<script src="app/js/vue.min.js">    </script>
	<script src="app/js/bstrap.min.js"> </script>
	<script src="app/js/sqeek.js">      </script>
	<script src="app/js/modkustom.js">  </script>
	<script src="app/js/modalEffects.js"> </script>
	<script src="app/js/cbpFWTabs.js">  </script>
	<script src="app/js/classie.js">    </script>
	<script src="app/js/coffee.js">     </script>
	<script src="app/js/garbochess.js"> </script>
	<script src="app/js/boardui.js">    </script>
	<script src="app/js/chessboard.js"> </script>
	<script src="app/js/jhlywachess.js"></script>
	<script src="app/js/pgnviewer.js">  </script>
	<!-- script src="app/js/pgnreader.js"></script -->
	<script>if (window.module) { module = window.module; } 
		var fileName = './app/games/pgns.pgn';
		pgnData = readPgn(fileName);
		initPgn(fileName);
	</script>
  
  <!--script src="js/all.js"> </script-->
  
  <script> 
  
  $(document).ready(function () {
	g_timeout = 1000; UINewGame();
	$('body').hide();
	$('html').css('visibility', 'visible');
	$('body').fadeIn(1750);
	// document.getElementById("message").focus(); 
  });
  
  </script> 
  
  <!-- script>
	// var first = decodeURI(location.search.substr(1)); // ?
 	sql.options.logtarget = 'myconsole';
	sql.prompt('shell','useid');
	// sql.prompt('shell','useid', first); // ?
</script -->
  
<!-- ui -->
<script>

(function() {
 [].slice.call( document.querySelectorAll('.tabs') ).forEach( function(el) { new CBPFWTabs(el); });
})();

$(function() {
 var $ui = $('#ui_element');
 
 /**
 * on focus and on click display the dropdown, and change the arrow image
 */
 $ui.find('.sb_input').bind('focus click',function() {
	$ui.find('.sb_down')
		.addClass('sb_up')
		.removeClass('sb_down')
		.andSelf()
		.find('.sb_dropdown')
		.show();
 });
 
 /**
 * on mouse leave hide the dropdown, and change the arrow image
 */
 $ui.bind('mouseleave',function() {
	$ui.find('.sb_up')
		.addClass('sb_down')
		.removeClass('sb_up')
		.andSelf()
		.find('.sb_dropdown')
		.hide();
 });

 /**
 * selecting all checkboxes
 */
 $ui.find('.sb_dropdown').find('label[for="all"]').prev().bind('click',function() {
	$(this).parent().siblings().find(':checkbox').attr('checked',this.checked).attr('disabled',this.checked);
 });

});

 // load (paused)
 // $('#json-load').click(function() { $('#output').fadeOut(); });
 // save (pending)
 // $('#json-save').click(function() { $('#output').fadeOut(); });
 // view (todo: codemirrorize)
 $('#json-view').click(function() { if ($('#output').is(':visible')) { $('#output').fadeOut(); } else { $('#output').fadeIn(); } });
 
</script>

	<!-- bottom -->
	<!-- div id="bottom" v-show="footer" transition="vanish">
		<br>[ Todo #1 - make lists public so logged in users can see and edit them  ]
		<br>&nbsp;[ ____ #2 - add chat, user id stuff... ___________________________ ]
		<br><br>
	</div -->

</body>
</html> 
